@keyframes moveGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
body{
    background: linear-gradient(127deg, rgb(12, 128, 30), rgb(13, 85, 6), green, rgb(164, 246, 160));
    background-size: 200% 100%;
    animation: moveGradient 25s ease infinite;
    height: 100vh;
}

p {
    color: rgb(238, 240, 247);
}
.nav-items{
    display: flex;
    justify-content:right;
    list-style-type: none;
    padding: 0 10%;
    background-color:#18932f;
    border-bottom: 1px solid #010407;
    

}
.nav-items li{
    padding: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
   
}

.nav-items li:hover{
    background-color: #17431f;
    transition: 0.5s;
    }
.nav-items li a{
    text-decoration: none;
    color: white;
   
}
.hero h1{
    font-size: 40px;
    color: #0f0322;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 6px;
}
.hero p{
    font-size: 30px;
    color: #f1edf6;
    text-align: center;
    margin-top: 4px;
}
.services h2{
    font-size: 30px;
    color:black;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 3px;
}
.services-items ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
} 

.service1, .service2, .service3{
    width: 400px;
}
.service1 img{
    width: 280px;
    border: 1px solid sienna;
    border-radius: 20px;
    height: 300px;
}
 .service2 img{
    width: 280px;
    border: 1px solid sienna;
    border-radius: 20px;
    height: 300px;
}
.service3 img{
    width: 280px;
    border: 1px solid sienna;
    border-radius: 20px;
    height: 300px;
}
.services-container{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.services-container p{
    font-size: 20px;
    color: #edebf0;
    text-align: center;
    margin-top: 10px;
    width: 70%;
}
.media query{
    @media screen and (max-width: 768px){
        .services-container{
            flex-direction: row;
        }
    }
}
#contacts_links{
    display: flex;
    justify-content: flex end;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid #010407;
}
#contacts_links img{
    width: 50px;
    height: 50px;
    margin: 10px;
}
.contacts-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.contact h3{
    font-size: 20px;
    color: #0f0322;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 10px;
}
.about h2{
    font-size: 30px;
    color: #0f0322;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 3px;
}

    

.pricing-monthly h3{
    font-size: 20px;
    color: #0f0322;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 10px;
}

.pricing-monthly button{
   cursor: pointer;
   margin: 10px; 
   margin-top: 6px;
    
}

.pricing{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    gap: 1rem;
}
.pricing-yearly button{
    cursor: pointer;
    margin: 10px;
    margin-top: 6px;
}
.pricing h2{
    font-size: 30px;
    color: #0f0322;
    margin: 0;
    padding: 0;
    margin-top: 3px;
}
.pricing p{
    font-size: 22px;
}
.responsive-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}
.responsive-container button{
    cursor: pointer;
    margin: 30px;
    margin-top: 6px;
    background-color: #117106;
    transition: 0.5s;
}

.hidden{
    display: none;
}

.services-container h3{
    text-align: center;
    width: 72%;
}

.pricing-container{
    border: 2px solid rgb(2, 33, 15);
    border-radius: 5px;
   
}
.about p{
    font-size: 20px;
    color: #edebf0;
    text-align: center;
    margin-top: 10px;
    width: 70%;
    margin-left: 200px;
}
#join{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: #010407 solid 1px;
    border-radius:5px;
    padding: 4px;
    background-color: #ea4c13;
    font-size: large;
    margin-left:38%;
    width: 300px;
}
.container {
    max-width: 420px;
    margin: auto;
    padding: 20px;
    border: 2px solid #010000;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    background-color: #2bba4a;
}
input, select, button {
    width: 80%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}
button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}