p {
    color: royalblue;
}
.nav-items{
    display: flex;
    justify-content:right;
    list-style-type: none;
    padding: 0 10%;
    background-color:#9F5F91;
    border-bottom: 1px solid #010407;
    

}
.nav-items li{
    padding: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
   
}

.nav-items li:hover{
    background-color: #032446;
    transition: 0.5s;
    }
.nav-items li a{
    text-decoration: none;
    color: white;
   
}
.hero h1{
    font-size: 40px;
    color: #0f0322;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 6px;
}
.hero p{
    font-size: 30px;
    color: #534666;
    text-align: center;
    margin-top: 4px;
}
.services h2{
    font-size: 30px;
    color: #0f0322;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 3px;
}
.services-items ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
} 

.service1, .service2, .service3{
    width: 400px;
}
.service1 img{
    width: 280px;
    border: 1px solid sienna;
    border-radius: 20px;
    height: 300px;
}
 .service2 img{
    width: 280px;
    border: 1px solid sienna;
    border-radius: 20px;
    height: 300px;
}
.service3 img{
    width: 280px;
    border: 1px solid sienna;
    border-radius: 20px;
    height: 300px;
}
.services-container{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 10px;
}
.services-container p{
    font-size: 20px;
    color: #534666;
    text-align: center;
    margin-top: 10px;
    width: 70%;
}
.media query{
    @media screen and (max-width: 768px){
        .services-container{
            flex-direction: row;
        }
    }
}

#contacts_links{
    display: flex;
    justify-content: flex end;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid #010407;
}
#contacts_links img{
    width: 50px;
    height: 50px;
    margin: 10px;
}
.contacts-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.contact h3{
    font-size: 20px;
    color: #0f0322;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 10px;
}

    

.pricing-monthly h3{
    font-size: 20px;
    color: #0f0322;
    margin: 0;
    padding: 0;
    text-align: left;
    margin-top: 10px;
}

.pricing-monthly button{
   cursor: pointer;
   margin: 10px; 
   margin-top: 6px;
    
}

.pricing{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    gap: 1rem;
}
.pricing-yearly button{
    cursor: pointer;
    margin: 10px;
    margin-top: 6px;
}
.pricing h2{
    font-size: 30px;
    color: #0f0322;
    margin: 0;
    padding: 0;
    margin-top: 3px;
}
.pricing p{
    font-size: 22px;
}
.responsive-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}
.responsive-container button{
    cursor: pointer;
    margin: 10px;
    margin-top: 6px;
}

.hidden{
    display: none;
}

.services-container h3{
    text-align: center;
    width: 72%;
}

.pricing-container{
    border: 2px solid chocolate;
    border-radius: 5px;
}